<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/styles/style.css">
    <title>Carlos Eduardo Mendoza Juarez</title>
</head>
<body>
    <!--  -->
    <header>
        <div>Animado</div>
        <nav class="nav">
            <div><button class="btn-pages">Home</button></div>
            <div><button class="btn-pages">Bootstrap</button></div>
            <div><button class="btn-pages">Three.js</button></div>
            <div><button class="btn-pages">Tailwind</button></div>
        </nav>
    </header>
    <main>
        <article>
            <section>Foto</section>
            <section>Datos</section>
        </article>
        <aside>Skills</aside>
        <div>
            <h1 class="">Ingresa tu Nombre</h1>
            <textarea name="Nombre" id="textarea" class="textarea"></textarea>
            <button>Subir</button>
        </div>
    
    </main>
    <footer>
        <div>Redes sociales</div>
        <div>Contacto</div>
        <div>Email</div>
    </footer>
    
</body>

</html>